@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

.dice-game,
.dice-history {
  display: flex;
  width: 100%;
  justify-content: center;
}

.dice-container {
  padding: 10px;
  margin: 10px;
  font-size: 40px;
  color: red;
}

.table-wrapper {
  width: 500px;
}

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper table td,
.table-wrapper table th {
  border: 1px solid black;
  border-spacing: 0;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

h1 {
  text-align: center;
}

html {
  position: absolute;
  min-height: 100%;
  width: 100%;
}

body {
  background-image: url("background-dice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  position: absolute;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  font-family: "Comfortaa", cursive;
}

.form-wrapper,
.dice-game,
.dice-history {
  flex-grow: 0;
  display: flex;
  justify-content: center;
}

form {
  background-color: rgba(225, 225, 225, 0.5);
  text-align: center;
  padding: 20px;
}

form input {
  margin: 10px;
}

.dice-table {
  margin: 20px;
  background-color: rgba(46, 117, 88, 0.9);
  display: flex;
  align-items: center;
  border: 10px solid #34231d;
  border-radius: 20px;
  padding: 40px;
}

.dice-container i {
  background-color: white;
  margin: 0;
  line-height: 20px;
}

footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

footer div#validator {
  padding: 10px;
}
